.fundo{
    background-image: url(../../assets/img/tecnologia.jpg);
    background-repeat: repeat;
    height: 100%;
    max-width: 100%;
   
    
}

.AreaLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;

}


.Area1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    width: 30%;
    height: 60%;
    justify-content: space-around;
    border-radius: 2em;
}
.Area{
    background-color: #262626;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 2em;
}

.cadastre{
    color: #fff;
    font-weight: bold;
}
    
.qrcode img{
    height: 15em;
    width: auto;
}

.email{
    color: #fff;
    padding-right: 1em;
    align-items: center;
}

.botao{
    border-radius: 1em;
    width: 5em;
}

.botao:hover{
    background-color: #b303039f;
    color:#fff
}

.imgsesisenai img{
    height: 2em;
    width: auto;
}


.item-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

