

.organizacao{
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    background-color: #fff;
    height: 4em;
    width: auto;
}

.logo2 img{
    height: 4em;
    width: auto;
}

a:link{
    color:white;
    font-weight: bolder;
    text-decoration: none;
}
